
// Body
$body-bg: #ffffff;

// Typography
$font-family-sans-serif: 'Quicksand', sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;

// Colors
$white: #fff;
$blue: #ff0000;
$indigo: #6574cd;
$purple: #9561e2;
$pink: #f66D9b;
$red: #e3342f;
$orange: #f6993f;
$yellow: #ffed4a;
$green: #38c172;
$teal: #4dc0b5;
$cyan: #6cb2eb;
$color-green-primary: #29671a;


// $primary-color:#3490dc;

//URLS
$url-img: "/img/";
$url: "/";

// $login-section-image: $url-img + "bg_login.jpg";
// $sidebar-texture-bg: $url-img + "bg_sidebar.jpg";
// $register-section-image: $url-img + "bg-register-page.jpg";
// $bg-sidebar: $url-img + "bg_sidebar.jpg";
// $logo-png-without-text: $url-img + "logo.png";