
// Fonts
// @import url('https://fonts.googleapis.com/css?family=Quicksand:300,400,500,700');
@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,600,700,800');

// Variables


// Bootstrap
@import "bootstrap/scss/bootstrap";  // Bootstrap


@import 'variables';
@import 'util';
// componentes dos formularios

@mixin background-image($image) {
	background: url($url_img + $image);
}

body
{
	
	// componentes gerais
	@import 'components/_font';
	@import 'components/_button';
	@import 'components/_modal';
	@import 'components/_loader';

    // componentes do dashboard

	&.welcome
	{
		@import 'components/welcome/_main';
	}
	&.dashboard
	{
		@import 'components/dashboard/_main';
		@import 'components/dashboard/_sidebar';
	}

	@import 'components/main/_form';

	&.main
	{
		@import 'components/main/_main';
        @import 'components/dashboard/_navbar';
        @import 'components/carousel';

    }
    &.main{
        overflow-y: scroll !important;
	}
	.h-100vh{
		height:100vh !important;
	}
}

