button, a{
  &.btn {
    box-shadow: 1px 1px 1px 1px #00000059;
    border-radius: 5rem !important;
    font-weight: 600 !important;
    font-size: 1.2rem !important;
  }
  &.btn.btn-p {
    // background-color: $primary-color;
    color: white;
    &:hover{
      // background-color: darken($primary-color);
    }
  }
}
#label_excluir_livro
{
  &:hover
  {
    cursor: pointer;
  }
}

