.add-book-carousel {
    min-height: 100vh !important;
    display: flex;
    align-items: center;
    &.second {
        justify-content: center;
    }
}

.create {
    .flickity-button {
        transform: translateY(-82px);
    }
}

.flickity-button {
    transform: translateY(2px);
    margin: -2rem;
    @media screen and (max-width: 992px) {
        & {
            transform: translateY(5px) !important;
            margin: -2rem !important;
        }
    }
}

.form-adicionar-livro {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    margin-top: 0 !important;
    padding-top: 0 !important;
}
