// .loader
// {
// 	@-webkit-keyframes anim_panda_loader {
// 		0% {  
// 			-webkit-transform: translateY(-20px);
// 			-moz-transform: translateY(-20px);
// 			-ms-transform: translateY(-20px);
// 			-o-transform: translateY(-20px);
// 			transform: translateY(-20px);
// 		}
// 		50% { 
// 			-webkit-transform: translateY(0px);
// 			-moz-transform: translateY(0px);
// 			-ms-transform: translateY(0px);
// 			-o-transform: translateY(0px);
// 			transform: translateY(0px);	
// 		}
// 		100% { 
// 			-webkit-transform: translateY(-20px);
// 			-moz-transform: translateY(-20px);
// 			-ms-transform: translateY(-20px);
// 			-o-transform: translateY(-20px);
// 			transform: translateY(-20px);	
// 		}
// 	}
// 	@-moz-keyframes anim_panda_loader {
// 		0% {  
// 			-webkit-transform: translateY(-20px);
// 			-moz-transform: translateY(-20px);
// 			-ms-transform: translateY(-20px);
// 			-o-transform: translateY(-20px);
// 			transform: translateY(-20px);
// 		}
// 		50% { 
// 			-webkit-transform: translateY(0px);
// 			-moz-transform: translateY(0px);
// 			-ms-transform: translateY(0px);
// 			-o-transform: translateY(0px);
// 			transform: translateY(0px);	

// 		}
// 		100% { 
// 			-webkit-transform: translateY(-20px);
// 			-moz-transform: translateY(-20px);
// 			-ms-transform: translateY(-20px);
// 			-o-transform: translateY(-20px);
// 			transform: translateY(-20px);	

// 		}
// 	}
// 	@-ms-keyframes anim_panda_loader {
// 		0% {  
// 			-webkit-transform: translateY(-20px);
// 			-moz-transform: translateY(-20px);
// 			-ms-transform: translateY(-20px);
// 			-o-transform: translateY(-20px);
// 			transform: translateY(-20px);
// 		}
// 		50% { 
// 			-webkit-transform: translateY(0px);
// 			-moz-transform: translateY(0px);
// 			-ms-transform: translateY(0px);
// 			-o-transform: translateY(0px);
// 			transform: translateY(0px);	

// 		}
// 		100% { 
// 			-webkit-transform: translateY(-20px);
// 			-moz-transform: translateY(-20px);
// 			-ms-transform: translateY(-20px);
// 			-o-transform: translateY(-20px);
// 			transform: translateY(-20px);	

// 		}
// 	}
// 	@-o-keyframes anim_panda_loader {
// 		0% {  
// 			-webkit-transform: translateY(-20px);
// 			-moz-transform: translateY(-20px);
// 			-ms-transform: translateY(-20px);
// 			-o-transform: translateY(-20px);
// 			transform: translateY(-20px);
// 		}
// 		50% { 
// 			-webkit-transform: translateY(0px);
// 			-moz-transform: translateY(0px);
// 			-ms-transform: translateY(0px);
// 			-o-transform: translateY(0px);
// 			transform: translateY(0px);	

// 		}
// 		100% { 
// 			-webkit-transform: translateY(-20px);
// 			-moz-transform: translateY(-20px);
// 			-ms-transform: translateY(-20px);
// 			-o-transform: translateY(-20px);
// 			transform: translateY(-20px);	

// 		}
// 	}
// 	@keyframes anim_panda_loader {
// 		0% {  
// 			-webkit-transform: translateY(-20px);
// 			-moz-transform: translateY(-20px);
// 			-ms-transform: translateY(-20px);
// 			-o-transform: translateY(-20px);
// 			transform: translateY(-20px);
// 		}
// 		50% { 
// 			-webkit-transform: translateY(0px);
// 			-moz-transform: translateY(0px);
// 			-ms-transform: translateY(0px);
// 			-o-transform: translateY(0px);
// 			transform: translateY(0px);	

// 		}
// 		100% { 
// 			-webkit-transform: translateY(-20px);
// 			-moz-transform: translateY(-20px);
// 			-ms-transform: translateY(-20px);
// 			-o-transform: translateY(-20px);
// 			transform: translateY(-20px);	

// 		}
// 	}
	
// 	position: fixed;
// 	left: 0;
// 	top:0;
// 	width: 100%;
// 	height: 100%;
// 	background: white;
// 	z-index: 999999 !important;
// 	text-align: center;

// 	img
// 	{
// 		width: 11rem;
// 		margin-top: 12rem;
// 		margin-bottom: 4rem;
// 		animation: anim_panda_loader 2s infinite;
// 	}

// 	h3
// 	{
// 		width:50%;
// 		margin:auto;
// 	}
// }