&{

    .modal{
        padding: 3rem !important;
        box-shadow: 0 20px 50px -17px black;
        .modal-content, .modal-header, .modal-footer{
            border:none !important;
        }
    }
}