:root{
    --primary-black: #d0ced7;
    --menu-text-color: #8d8d8d;
    --subtitle-text-color: #7B7B7B;
    --light-text-color: #797979;
    --text-color: white;
}

body{
    background: #2D2D2D !important;
}
.nav-container{
    background: transparent !important;
}
#create_cloud_icon{
    filter: contrast(0) brightness(2);
}

body.main nav {
    box-shadow: inset 0px -6px 27px -9px #6d6d6d !important;
}

.card-menu:hover {
    box-shadow: 1px 5px 9px -3px #ffffffd9 !important;
}
