.livro.active{
    border:2px solid black;
    border-radius:15px;
}
.livro:nth-child(n+4) {
    margin-top: 2rem !important;
}

.livro .card .book-container h5 {
    position: absolute;
    bottom: 0;
    color: white;
    padding: 1rem;
    z-index: 4;
    font-weight: 600;
}

.livro .card img. {
    position: relative;

}

.livro .card img.btn-edit {
    position: absolute;
    top: 0;
    right: 0;
    z-index: 4;
    margin: 1rem;
}

.livro .card .book-container:before{
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(213.6deg, rgba(0, 0, 0, 0.41) -7.02%, rgba(255, 255, 255, 0) 20.77%), linear-gradient(360deg, rgba(0, 0, 0, 0.52) 8.35%, rgba(255, 255, 255, 0) 98.22%);
    z-index: 3;
}

.livro .card .book-container {
    position: relative;
    margin: 0 !important;

}

.livro .card {
    /* margin: 0 !important; */
    position: relative;
    border-radius: 1rem;
    overflow: hidden;
    box-shadow: 0px 4px 9px rgba(0, 0, 0, 0.25);
}

.livro .card .edit-view {
    position: absolute;
    z-index: 5;
    left: 0;
    top: 0;
    background: white;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    padding: 3rem 0 2rem;

}

.livro .card .edit-view img.btn-close-edit-view {
    position: absolute;
    right: 0;
    top: 0;
    margin: 1.5rem;
    z-index: 5;
}

.livro .card .edit-view h1 {
    display: flex;

}

.livro .card .edit-view .contain-input {
    display: flex;
    align-items: center;
    justify-content: center;
}

.livro .card .edit-view .contain-input textarea {
    border: none;
    font-size: 2rem;
    padding: 0;
    margin: 0;
    resize: none;
    width: 50%;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.livro .card .edit-view .subtitle {
    font-weight: normal;
}

.livro .card .edit-view .contain-input textarea:focus {
    border: none !important;
    outline: none !important;
}

.livro .card .edit-view .actions-livro {
    display: flex;
    justify-content: center;
    align-items: center;
}

.livro .card .edit-view .actions-livro .btn {
    padding: .5rem 1rem;
    margin: .3rem;
}

.livro .card .edit-view .actions-livro .btn {
    padding: .5rem 1rem;
    margin: .3rem;
}

.livro .card .edit-view .actions-livro .btn.red {
    background: #eb5757;
}

.livro .card .edit-view .cancelar-edicao-btn {
    font-weight: normal !important;
}

.livro .card .edit-view .btn {
    background: #2D2D2D;
    color: white;
    display: flex;
    align-items: center;
    padding: .8rem 4rem;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    transition: box-shadow .25s ease;
}

.livro .card .edit-view .btn:hover {
    box-shadow: 0px 6px 4px rgba(0, 0, 0, 0.25);
}

.livro .card .edit-view .btn img {
    margin-right: 1rem;
}

.livro .card .edit-view img.btn-edit-view-edit {
    filter: brightness(0);
    margin-left: 1rem;
}

.livro-add-card{
    border-radius: 10px !important;
    border: none !important;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    background: linear-gradient(213.6deg, rgb(0 0 0 / 2%) -7.02%, rgba(255, 255, 255, 0) 50.77%), linear-gradient(360deg, rgb(0 0 0 / 35%) 13.35%, rgba(255, 255, 255, 0) 98.22%);
    color: white;
}
.livro-add-card a img{
    margin: 1.55rem auto !important;
}

@media screen and (max-width:992px){
 .livro{
     margin-top:1rem !important;
 }
}
