@font-face {
    font-family: 'Material Icons';
    font-style: normal;
    font-weight: 400;
    src: url(https://example.com/MaterialIcons-Regular.eot);
    /* For IE6-8 */
    src: local('Material Icons'),
        local('MaterialIcons-Regular'),
        url(https://example.com/MaterialIcons-Regular.woff2) format('woff2'),
        url(https://example.com/MaterialIcons-Regular.woff) format('woff'),
        url(https://example.com/MaterialIcons-Regular.ttf) format('truetype');
}

.material-icons {
    font-family: 'Material Icons';
    font-weight: normal;
    font-style: normal;
    color: white;
    font-size: 24px;
    display: inline-block;
    line-height: 1;
    text-transform: none;
    letter-spacing: normal;
    word-wrap: normal;
    white-space: nowrap;
    direction: ltr;
    -webkit-font-smoothing: antialiased;
    text-rendering: optimizeLegibility;
    -moz-osx-font-smoothing: grayscale;
    font-feature-settings: 'liga';
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

body {
    overflow: hidden !important;
    height: 100vh;
    width: 100vw;
}

.main-nav-container {
    font-family: 'Montserrat', sans-serif;
    overflow-x: hidden;
    z-index: 5 !important;
    position: fixed;
    width: 100%;
    top: 0;
    box-shadow: 0px 2px 16px -6px black;
    z-index: 99 !important;

}

.main-nav-container.full-height {
    height: 100vh !important;
    background: var(--primary-black) !important;
    box-shadow: none !important;
}

div.main-nav-container.full-height.settings nav.nav-menu-settings,
div.main-nav-container.full-height.confirm nav.nav-menu-confirm,
div.main-nav-container.full-height nav.nav-menu {
    box-shadow: none !important;
    display: block;
}



div.main-nav-container.full-height nav.nav-container {
    display: none;
}

.pointer {
    cursor: pointer;
}

.nav-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 12vh;
    background: var(--primary-black);

}

.panda-icon {
    margin-left: 30px;
    width: 120px;
}

.user-icon {
    color: white;
    font-size: 2rem;
    margin-right: 2rem;
}

.nav-menu {
    height: 100vh;
    background: var(--primary-black);
    display: none;
}

.header-menu {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 12vh;
    background: var(--primary-black);
}

.menu-title {
    font-size: 2rem;
    color: var(--light-text-color);
    font-weight: bold;
    margin-bottom: 15px;
}

.close-icon {
    margin-right: 30px;
}

/* MENU NAVIGATION  */

.menu-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    margin: 30px auto;
    grid-gap: 30px 30px;
    margin: auto;
    min-width: 57rem;
    max-width: 70vw;
}

.menu-container a {
    display: flex;
    justify-content: center;
}

.menu-container a:hover {
    text-decoration: none;
}

.card-menu {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    width: 210px;
    min-height: 277px;
    min-width: 281px;
    background-color: var(--light-text-color);
    transition: box-shadow .25s ease;
    text-align: center;
}

.card-menu:hover {
    box-shadow: 1px 5px 9px -3px black;
}

.card-menu i {
    color: var(--menu-text-color);
    font-size: 5rem;
    z-index: 1;
}

.card-menu:after {
    content: "";
    position: absolute;
    background: linear-gradient(154.81deg, #7C7C7C -11.18%, rgba(255, 255, 255, 0) 75.03%), #F2F2F2;
    box-shadow: 0px 4px 9px rgba(0, 0, 0, 0.25);
    height: 100%;
    width: 100%;
    left: 0%;
    right: 0%;
    top: 0%;
    bottom: 0%;
    border-radius: 10px;
    border-color: transparent;
}



.menu-description {
    margin: 25px 0 10px 0;
    color: var(--menu-text-color);
    z-index: 2;
    font-size: 1.3rem;
    font-weight: bold;
}

.back {
    display: flex;
    align-items: center;
    margin-left: 30px;
}

.back-description {
    color: var(--subtitle-text-color);
    font-weight: bold;
    margin-left: 10px;
}

/* CONFIRM MENU */

.nav-menu-confirm {
    min-height: 100vh !important;
    width: 100vw;
    background: var(--primary-black);
    display: none;
    top: 0;
    left: 0;
    position: fixed;
    z-index: 3;
}

.menu-container-confirm {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0px auto;
    max-width: 40vw;
    position: relative;
    height: 88vh;
}

.header-confirm {
    display: flex;
    align-items: center;
    margin-bottom: 30px;
    justify-content: space-between;
}

.confirm-title {
    color: var(--light-text-color);
    font-size: 24px;
    font-weight: bold;
}

.description {
    color: var(--subtitle-text-color);
    font-size: 20px;
    margin-top: 0;
    line-height: 1.4rem;
}

.icone-avatar-confirm {
    width: 15%;

}


.form-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.input-block {
    margin-bottom: 20px;
    width: 100%;
}

.input-block label {
    color: var(--light-text-color);
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 0px;
}

.input-block input {
    width: 100%;
    display: block;
    margin-top: 8px;
    padding: 10px;
    font-size: 20px;
    color: #000;
    border-radius: 15px !important;
    border: 1px solid #ccddef;
    outline-color: #000;
    height: 63px;
}

.input-block input:focus {
    outline: none !important;
    box-shadow: 0px 2px 2px 1px #0000004d !important;
    border: none !important;
}

.btn-add {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    border: none;
    background-color: #fff;
    color: #4F4F4F;
    font-weight: bold;
    border-radius: 15px;
    margin: auto;
    padding: 15px 0;
    position: relative;
    font-size: 18px;
    transition: box-shadow .25s ease;
}

.btn-add :hover {
    box-shadow: 1px 4px 5px 1px black !important;
}

.nex-img-button {
    position: absolute;
    right: 10px;

}

.button-back {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    border: none;
    background-color: #4F4F4F;
    color: #fff;
    font-weight: bold;
    border-radius: 10px;
    margin: auto;
    padding: 15px 0;
    position: relative;
}

.back-img-button {
    position: absolute;
    left: 10px;
}

/* SETTINGS MENU */


.deactive-toggle-switch {
    filter: invert();
    transform: rotateZ(180deg);
}

.nav-menu-settings {
    min-height: 100vh !important;
    background: var(--primary-black);
    display: none;
    position: fixed;
    left: 0;
    top: 0;
    width: 100vw;
    z-index: 2;
}

.menu-container-settings {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    /* width: 750px; */
    /* max-width: 1280px; */
    grid-gap: 0 70px;
    margin: 50px auto;
    margin: auto;
    min-width: 57rem;
    max-width: 70vw;
}

.user-settings {
    display: grid;
}

.header-desc-settings {
    max-width: 85%;
}

.settings-button {
    margin-top: 10px;
}

.settings {
    margin-bottom: 10px;
}

.settings-desc {
    font-size: 20px;
}

.input-block-desc {
    width: 100%;
    display: flex;
    flex-direction: column;
    margin-left: 20px;
}

.toggle-settings {
    display: grid;
}

.item-settings {
    display: flex;
    width: 100%;
    align-items: center;
    margin: 0px 0 10px 0;
}

.toggle-settings-img {
    width: 63px;
    cursor: pointer;
    transition: filter ease .25s;
}

.setting-title,
.settings-title {
    font-size: 24px;
    color: var(--light-text-color);
    font-weight: bold;
    margin-bottom: .4rem;
}

.settings-description {
    margin-top: 5px;
}

.icone-avatar-settings {
    width: 60px;
}

.absolute {
    position: relative;
}

#success_message {
    background: green;
    color: white;
    width: 100%;
    border-radius: .2rem;
    padding: .5rem;
    display: flex;
    align-items: center;
}

#success_message i {
    font-size: 1.1rem;
    margin-right: .5rem;
}

#forgot-password {
    width: 100%;
    display: flex;
    justify-content: flex-end;
}

@media screen and (max-width:992px) {
    .menu-container {
        display: flex;
        margin: auto;
        min-width: 100%;
        margin: 0 auto;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        height: 88vh;
    }

    .panda-icon,
    .close-icon,
    .back-icon {
        width: 31px;
        height: 31px;
    }
    .header-menu .panda-icon{
        height: 23px;
        width: auto;
    }
    .menu-title {
        font-size: 17px;
        margin-bottom: 0px;
    }

    .card-menu {
        display: grid;
        justify-content: center;
        grid-template-columns: 23% 60%;
        min-height: 64px;
        line-height: 1.4rem;
        text-align: left;
    }

    .card-menu i {
        font-size: 2rem;
    }

    .menu-description {
        margin: 0;
        font-size: 19px;
    }

    .card-menu:after {
        content: "";
        background: transparent;
    }

    .back-description {
        display: none;
    }

    .confirm-title {
        font-size: 17px;
    }

    .header-desc .description,
    .description.settings-desc {
        font-size: 14px;
        line-height: 120%;
    }

    .alert-confirmation-password {
        font-size: 14px;
    }

    .icone-avatar-confirm {
        display: none;
    }

    .menu-container-confirm {
        max-width: 80vw;
    }

    .header-confirm,
    .user-settings header {
        text-align: center;
    }

    .input-block label,
    .btn-add-settings-submit {
        font-size: 15px;
    }

    .header-desc-settings {
        max-width: 100%;
    }

    .menu-container-settings {
        display: grid;
        grid-template-columns: 1fr;
        min-width: 70%;
        max-width: 80vw;
    }

    .nav-menu-settings {
        overflow-y: scroll;

    }

    .setting-title {
        font-size: 16px;
    }

    .settings-description.description,
    #forgot-password {
        font-size: 14px;
    }

    .user-settings header {
        margin: 24px auto 32px auto;
    }

    .header-confirm {
        margin-top: -40px;
    }

    .input-block input {
        height: 53px;
        font-size: 16px;
        border-radius: 9px !important;
    }

    .livro .card .edit-view .btn {
        font-size: 16px !important;
        padding: .6rem 2rem !important;
        margin-top: 1rem;
    }

    .livro .card .edit-view .actions-livro .btn {
        font-size: 16px !important;
        margin: 1rem .3rem;
        padding: .3rem 1rem !important;
    }
    .header-menu{
        display: grid;
        grid-template-columns: 20% 60% 20%;
        place-items: center;
    }
}
