$url: " /img/welcome";

.bold {
    font-weight: bold !important;
}
.thin {
    font-weight: 100 !important;
}
.f_200 {
    font-weight: 200 !important;
}
.f_400 {
    font-weight: 400 !important;
}
.f_500 {
    font-weight: 500 !important;
}
.f_600 {
    font-weight: 600 !important;
}
.f_700 {
    font-weight: 700 !important;
}
.f_800 {
    font-weight: 800 !important;
}
.f_900 {
    font-weight: 900 !important;
}
.f_bold {
    font-weight: bold !important;
}
@for $i from 1 through 30 {
    .mt-#{$i} {
        margin-top: #{$i}rem !important;
    }
    .my-#{$i} {
        margin-top: #{$i}rem !important;
        margin-bottom: #{$i}rem !important;
    }
    .mx-#{$i} {
        margin-left: #{$i}rem !important;
        margin-right: #{$i}rem !important;
    }
    .ml-#{$i} {
        margin-left: #{$i}rem !important;
    }
    .mr-#{$i} {
        margin-right: #{$i}rem !important;
    }
    .mb-#{$i} {
        margin-bottom: #{$i}rem !important;
    }
    .pt-#{$i} {
        padding-top: #{$i}rem !important;
    }
    .py-#{$i} {
        padding-top: #{$i}rem !important;
        padding-bottom: #{$i}rem !important;
    }
    .px-#{$i} {
        padding-left: #{$i}rem !important;
        padding-right: #{$i}rem !important;
    }
    .pl-#{$i} {
        padding-left: #{$i}rem !important;
    }
    .pb-#{$i} {
        padding-bottom: #{$i}rem !important;
    }
    .pr-#{$i} {
        padding-right: #{$i}rem !important;
    }
    .p-#{$i} {
        padding: #{$i}rem !important;
    }
    .z-index-#{$i} {
        z-index: #{$i} !important;
    }
}
main {
    flex: 1 0 auto;
}
.capitalize {
    text-transform: capitalize !important;
}
.uppercase {
    text-transform: uppercase !important;
}
.italic {
    font-style: italic;
}
body {
    overflow-x: hidden;
    @-moz-keyframes fade {
        0% {
            transform: translate(0, 100px);
            opacity: 0;
        }
        100% {
            transform: translate(0, 0);
            opacity: 1;
        }
    }
    @-ms-keyframes fade {
        0% {
            transform: translate(0, 100px);
            opacity: 0;
        }
        100% {
            transform: translate(0, 0);
            opacity: 1;
        }
    }
    @-o-keyframes fade {
        0% {
            transform: translate(0, 100px);
            opacity: 0;
        }
        100% {
            transform: translate(0, 0);
            opacity: 1;
        }
    }
    @keyframes fade {
        0% {
            transform: translate(0, 100px);
            opacity: 0;
        }
        100% {
            transform: translate(0, 0);
            opacity: 1;
        }
    }
    @-moz-keyframes fade {
        0% {
            transform: translate(0, 100px);
            opacity: 0;
        }
        100% {
            transform: translate(0, 0);
            opacity: 1;
        }
    }
    @-ms-keyframes fade-left {
        0% {
            transform: translate(100px, 0);
            opacity: 0;
        }
        100% {
            transform: translate(0, 0);
            opacity: 1;
        }
    }
    @-o-keyframes fade-left {
        0% {
            transform: translate(100px, 0);
            opacity: 0;
        }
        100% {
            transform: translate(0, 0);
            opacity: 1;
        }
    }
    @keyframes fade-left {
        0% {
            transform: translate(100px, 0);
            opacity: 0;
        }
        100% {
            transform: translate(0, 0);
            opacity: 1;
        }
    }
    #head {
        min-height: 100vh;
        h1 {
            margin-top: 0;
            padding-top: 10rem;
            font-size: 10rem;
            @media #{$medium-and-down} {
                font-size: 7rem;
            }
            -webkit-animation: fade 3s ease;
            -moz-animation: fade 3s ease;
            -ms-animation: fade 3s ease;
            -o-animation: fade 3s ease;
            animation: fade 3s ease;
        }
        h5 {
            -webkit-animation: fade-left 3s ease;
            -moz-animation: fade-left 3s ease;
            -ms-animation: fade-left 3s ease;
            -o-animation: fade-left 3s ease;
            animation: fade-left 3s ease;
        }
    }
    #whatis {
        img {
            width: 43rem;
            position: absolute;
            left: 0;
            top: 31rem;
        }
        p {
            font-size: 1.3rem;
            margin-left: 1rem;
        }
        background-image: url($url + "/bg-tablet.jpg");
        background-size: cover;
        color: white !important;
        min-height: 100vh;
    }
    .md-text {
        font-size: 1.3rem !important;
    }
    #comp_tablet {
        // background-image: url($url + '/img/bg-tablet.jpg');
        // background-size: cover;
        // color: white !important;
        // background-attachment: fixed;
        p {
            color: #444146;
        }
        i,
        h3 {
            color: #342f7d !important;
        }
    }
    #alfa {
        margin-top: -1.4rem;
        position: relative;
        min-height: 100vh;
        padding-top: 11rem;

        background-image: url($url + "/bg-juntos.jpg");
        background-size: cover;
        color: white !important;
        // background-attachment: fixed;

        p {
            font-size: 1.3rem;
        }
        img {
            width: 33rem;
            position: absolute;
            right: 0;
            top: -11rem;
            z-index: 99;
        }
    }
    .footer {
        margin-top: -1.4rem;
        font-size: 0.9rem !important;
        position: relative;
        min-height: 100vh;
        background-image: url($url + "/bg-footer.jpg");
        background-size: cover;
        // background-attachment: fixed;
        background-position-x: center;

        ul li a {
            color: #bfbbbb;
            font-size: 0.7rem;
            text-transform: uppercase;
        }
    }
    #footer-2 {
        padding-top: 0.5rem !important;
        padding-bottom: 0.5rem !important;
        p {
            font-size: 0.63rem;
            text-transform: uppercase;
        }
    }
}
