nav{
	// box-shadow:1px 1px 8px 0px #0000007d !important;
	box-shadow:0px 0px 20px -5px #0000007d !important;
	// background: #bdbdbd !important;
	font-size: 1rem !important;
	height: 77px !important;
	a
	{
		color: white !important;
		img{
			width: 120px;
			&.i-biblioteca{
				padding-top: .4rem;	
			}
		}
		&:focus {
			outline: -webkit-focus-ring-color auto 0px;
		}
	}

	.dropdown-menu.dropdown-menu-right.show
	{	
		width: 330px;
		box-shadow:0 0 13px -2px #00000059 !important;
		border-color: transparent;
		img
		{
			width: 50px;
		}

		a
		{
			color: black !important;
		}
	}
}