// .navbar-laravel {
// 	background-color: #fff;
// 	box-shadow: 0 2px 4px rgba(0, 0, 0, 0.04);
// }

// .form-box{
// 	background-color: $white;
// 	padding: 5rem;
// 	min-height:100vh;
// }
// .login-register-section{
// 	background-size: 100%;
// 	background-repeat: no-repeat;
// 	-webkit-background-size: cover;
// 	-moz-background-size: cover;
// 	-o-background-size: cover;
// 	background-size: cover;
// 	min-height: 100vh;
// 	width: 100%;
// }

// .login-section{
// 	background-image: url($login-section-image);
// }

// .register-section{
// 	background-image: url($register-section-image);
// }
// .btn-primary{
// 	background-color: $color-green-primary;
// 	border-color: $color-green-primary;
// 	font-size: 1.4rem;
// 	font-weight: 700;
// 	box-shadow: -1px 20px 57px -19px black;
// 	border-radius: .3rem;
// 	&:hover{
// 		background-color: #409246;
// 		border-color: #409246;
// 		box-shadow: -1px 10px 27px -8px black;
// 	}	
// }


// .sidebar{
// 	height: 100vh;
// 	background-color:black;
// 	list-style: none;
// 	margin: 0;
// 	color: white;
// 	box-shadow: -21px 0px 100px 0px #000000b3;
// 	z-index: -3;
// 	li{
// 		padding: 45% 0; 
// 		text-align: center;
// 	}
// 	&:before{
// 		content: "";
// 		background: url($bg-sidebar);
// 		width: 100%;
// 		height: 100%;
// 		position: absolute;
// 		left: 0;
// 		top: 0;
// 		z-index: -20;
// 		left: -1px;
// 		opacity: 0.6;
// 	}
// }
// .icon-sidebar{
// 	font-size: 250%;
// }
// .sidebar-element{
// 	width: 100%;
// 	margin: 0 auto;
// }

// .card-text{
// 	font-size: 0.8em;	
// }

// .main-title-page{
// 	font-size: 2.3em;
// }


&{
	background: white;
}

// NOVO ESTILO
nav.sidebar
{
	position: fixed;
	left: 0;
	top: 0;
	height: 100%;
	@include background-image("components/bg_sidebar.jpg");
	ul
	{
		padding: 0 !important;
		list-style: none;
		width: 100%;
		li
		{
			width: 100%;
			text-align: center;
			font-size: 2rem;
			padding: 1rem;
			a
			{
				color: white;
			}
		}
	}
}