&{
	input{

		border-radius: .5rem !important;
		font-weight: 600 !important;
		height: 3rem;
		&:active, &:focus{
			// border-color: $primary-color !important;
			border-width: 0.1rem;
			box-shadow: 0 0 0 0 transparent !important; 
		}

		&::-webkit-input-placeholder {
			color:#c7c7c7 !important;
		}

		&:-moz-placeholder {
			color:#c7c7c7 !important;
		}

		&::-moz-placeholder {  
			color:#c7c7c7 !important;
		}

		&:-ms-input-placeholder {  
			color:#c7c7c7 !important;
		}

	}	
	label{
		font-weight: 600 !important;
	}
}